.illu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    z-index: -10;
    overflow: hidden;

    &__bg{
        height: 100%;
    }
}

.title__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px 0;@include mq("mobile") {margin: 100px 0;}
}
.title__img{
    width: 20%;
    @include mq("laptop") {width: 30%;}
    @include mq("mobile") {
        width: 50%;
      }
}

.about{
    padding: 0 64px;
    @include mq("mobile") {
        padding: 0 24px;
      }
    
    &__list{

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;

    @include mq("mobile") {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
      }
    }

    &__el:nth-child(1){
        backdrop-filter: blur(3px);
        grid-column: 2 / span 5;
        display: flex;
        flex-direction: column;
        gap: 24px;
        @include mq("mobile") {gap: 16px;}
        @include mq("tablet") {grid-column: 2 / span 6;}
        @include mq("laptop") {grid-column: 2 / span 6;} 
    }
    &__el:nth-child(2){
        overflow: hidden;
        grid-column: 8 / span 4;
        transform: rotate(4deg);
        max-width: 440px;
        transform: rotate(15deg) translateY(300px);
        @include mq("mobile") {
            max-width: 70%;
            height: 310px;
            transform: rotate(15deg) translateY(60px);
        }
    }

    &__title ,&__text{
        max-width: 80%;
        @include mq("mobile") {max-width: none;}
        @include mq("tablet") {max-width: none;}

    }

    &__title {
        font-size: 2rem;
        
    }
    &__text {
        font-size: 1rem;
        
    }
    &__interests {
        text-transform: uppercase;
        font-size: 1.2rem;
        display: flex;
        gap: 15px;
    }
    &__interest {
        border: solid 1px black;
        border-radius: 50px;
        width: fit-content;
        padding: 0.2rem 1rem;
    }
    &-container{
        @include mq("mobile") {width: 120%;}
    }

}

