
.contact{
    padding: 0 64px;
    @include mq("mobile") {
        padding: 0 24px;
    }
}
.social{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    @include mq("mobile") {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    &__item{
        border: solid 1px black;
        padding: 48px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        @include mq("mobile") {
            gap: 24px;
        }
    }
    &__item:nth-child(1){
        grid-column: 1 / span 4;
        grid-row: 2 / span 2;
    }
    &__item:nth-child(2){
        grid-column: 5 / span 4;
        grid-row: 1 / span 2;
    }
    &__item:nth-child(3){
        grid-column: 9 / span 4;
        grid-row: 2 / span 2;
    }

    &__heading{
        text-align: center;
    }
    &__subheading{
        display: block;
        font-family: $font-italic;
        font-style: italic;
        font-weight: 100;
        font-size: calc($size-h3-desktop - 2px);
        @include mq("mobile") {
            font-size: calc($size-h3-mobile)
        }
    }

    &__link{
        display: flex;
        align-items: center;
        gap: 16px;
        border: solid 1px black;
        padding: 4px 6px 4px 16px;
        border-radius: 20px;
        text-transform: uppercase;
        overflow: hidden;
        transition: transform 0.3s ease-in;
        &:hover{
            scale: 1.05;
            .social__arrow{
                transform: translate(-50% ,-50%);
            }
        }
    }
    &__circle{
        position: relative;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background-color: black;
    }
    &__arrow{
        color: white;
        position: absolute;
        font-size: 16px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 100%);
        transition: transform 0.3s ease-in;
    }

    &__net{
        display: flex;
        gap: 24px;
        @include mq("mobile") {
            gap: 12px;
        }
    }

    &__copyright{
        margin-top: 24px;
        display: flex;
        justify-content: center;
    }
    
    
}