.main{
    padding: 120px 60px 60px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    @include mq("mobile") {
        padding: 60% 20px 30px;
    }

    &__img{
        width: 40px;
        animation: arrow 3s ease-in-out 0s infinite;
    }
}

.titre{
    font-size: 128px;
    text-transform: uppercase;
    line-height: 100%;
    @include mq("mobile") {
        font-size: 40px;
        line-height: 200%;
    }
    &-droite{
        justify-content: space-between;
        display: flex;
        overflow: hidden;
    }
    &-gauche{
        font-family: $font-italic;
        font-style: italic;
        font-weight: 100;
        justify-content: flex-end;
        display: flex;
        overflow: hidden;
    }
    &-centre{
        margin-left: 400px;
        @include mq("mobile") {
            margin-left: 100px;
        }
    }
    &__container{
        width: 100%;
    }
}


.bubble{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 1px;
    border-radius: 50%;
    overflow: hidden;
    @include mq("mobile") {
        /*display: none;*/
    }

    #illu{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
    }
}

.bg{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: -20;
    transform: translate(-50%, -50%);

    &__bleu{
        position: absolute;
        
        @include mq("mobile") {
            height: 100%;
            transform: translate(-55%, -10%);
        }

        path {
            fill: none;
            stroke: #66ff66;
            stroke-width: 75;
            /*stroke-dasharray: 4460;
            stroke-dashoffset: 2210;*/
            stroke-dasharray: 100000;
            stroke-dashoffset: 100000;
            animation: draw 15s forwards;
            animation-timing-function: ease-in-out;
        }
        
    }

    &__vert{
        position: absolute;
        @include mq("mobile") {
            height: 50%;
            transform: translate(-15%, 80%) rotate(344deg);
        
        }

        path {
            fill: none;
            stroke: #00ffff;
            stroke-width: 10;
            stroke-dasharray: 10000;
            stroke-dashoffset: 10000;
            animation: draw 7s forwards;
            animation-timing-function: ease-in-out;
        }
    }
    

}
