/*.work{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projets {
    height: 70vh;
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
}


.projet__el {
    position: absolute;
    width: 100vh;
    height: 100%;
    border: solid 1px black;
    background-color: white;
    transform: rotate(-4deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 96px;
    gap: 50px;
    @include mq("mobile") {
        width: 35vh;
        height: 100%;
        padding: 40px 24px;
        gap: 30px;
        transform: rotate(-2deg);
    }
}

.projet-1{
    transform: translateX(-70px) translateY(-50px) rotate(-4deg) ;
    @include mq("mobile") {
        transform: translateX(-30px) translateY(-20px) rotate(-2deg) ;
    }
}

.projet-3{
    transform: translateX(70px) translateY(50px) rotate(-4deg) ;
    @include mq("mobile") {
        transform: translateX(30px) translateY(20px) rotate(-2deg) ;
    }
}

.projet{
    &__details{
        display: flex;
        align-items: flex-start;
        gap: 20px;
        .italic{
            font-family: $font-italic;
            font-style: italic;
            font-weight: 100;
            font-size: 14px;
        }
    }
    &__images{
        display: flex;
        width: 100%;
        justify-content: space-between;
        transform: translateY(200px);
    }
    &__image{
        overflow: hidden;
    }
    &__image:nth-child(1){
        width: 220px;
        height: 280px;
        transform: rotate(-7deg);
    }
    &__image:nth-child(2){
        width: 280px;
        height: 180px;
        transform: rotate(-5deg);
    }
    &__image--hide{
        @include mq("mobile") {
            display: none;
        }
    }
    &__img{
        width: 240%;
    }
    &__description{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 470px;
        gap: 32px;
    }
    &__description-item:nth-child(2){
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    &__tags{
        display: flex;
        gap: 18px;
        .italic{
            font-family: $font-italic;
            font-style: italic;
            font-weight: 100;
            font-size: 19px;
        }
    }
    &__tag{
        text-transform: uppercase;
        border: solid 1px black;
        padding: 4px 12px;
        border-radius: 20px;
    }
}

*/

.title__container--work{
    margin: 60px 0 50px;@include mq("mobile") {margin: 60px 0 80px;}
}

.projet{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projets {
    height: 75vh;
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
}

.work{
    position: absolute;
    width: 80%;
    height: 85%;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border: solid 1px black;
    background-color: white;


    &__imgs{
        display: flex;
        justify-content: space-between;
        width: 90%;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include mq("mobile") {
            width: auto;
            justify-content: center;
            top: 30%;
        
        }
    }
    &__img{
        background-color: transparent;
    }
    &__img img{
        height: 100%;
        width: auto;
    }
    &__img:nth-child(1){
        width: 300px;
        height: 400px;
        transform: rotate(-4deg);
        overflow: hidden;
        @include mq("mobile") {
            width: 200px;
            height: 300px;
        }
    }
    &__img:nth-child(2){
        width: 400px;
        height: 250px;
        overflow: hidden;
        transform: rotate(5deg);
        @include mq("mobile") {display: none;}
    }
    &__tags{
        display: flex;
        gap: 16px;
    }
    &__tag{
        border: solid 1px black;
        border-radius: 20px;
        padding: 0.2rem 1rem;
        text-transform: uppercase;
    }
}

.rel{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 64px;
    @include mq("mobile") {padding: 32px 0;}
    

}
.work__textes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-6deg);
    text-align: center;display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    @include mq("mobile") {
        gap: 16px;
        top: 75%;
    }
}
.projet-1{
    transform: translate(-50%, 100%) rotate(3deg);
}
.projet-2{
    transform:translate(-50%, 100%) rotate(-1deg);
    opacity: 0;
}
.projet-3{
    transform:translate(-50%, 100%) rotate(-4deg);
    opacity: 0;
}

