/*.switch {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    border-radius: 50px;
    height: 50px;
    cursor: pointer;
    width: 100px;
    background-color: rgb(199, 199, 199);
    position: relative;
    border: 0;
  }
  .switch:after {
    content: "";
    display: block;
    width: 46px;
    height: 46px;
    background-color: #FAFAFA;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 23px;
    transition: 0.3s;
  }
  .switch--active {
    background-color: green;
  }
  .switch--active:after {
    transform: translateX(50px);
  }

  */

  .grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(24, 128px);
    gap: 20px;
    padding: 0 30px;
    height: 100vh;

    .title__container{
      grid-column: 1 / span 12;
      grid-row: 2;
    }
  
  }
  .title__list{
    display: flex;
  }

  .img__grid{
    height: 100%;
    grid-column: 1 / span 12;
    grid-row: 4/ span 5;
  }

  .grid__h3{
    grid-column: 4 / span 7;
    grid-row: 9/ span 2;
  }

  .grid__contraint{
    grid-column: 4 / span 2;
    grid-row: 11/ span 1;
    font-size: 38px;
    
  }

  .grid__text{
    grid-column: 7 / span 4;
    grid-row: 11/ span 3;
    font-size: 24px;
  }
  .grid__role{
    grid-column: 1 / span 4;
    grid-row: 15/ span 1;
  }
  .grid__img{

    grid-column: 7 / span 6;
    grid-row: 15/ span 5;
  }

