
@keyframes rotate{
    from{
      transform:rotate(360deg);
    }
    to{
      transform:rotate(0deg);
    }
  }

  @keyframes bounce {
    0% {
      transform: translateY(0%);
    }
  
    50% {
      transform: translateY(-40%);
    }

    100% {
      transform: translateY(0%);
    }
  
  }
